#                          Assignment -- 1

##1. Write a program which will find all such numbers which are divisible by 7 but are not a
multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed 
in a comma-separated sequence on a single line.

In [14]:
lst=list()
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        lst.append(i)
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

##2. Write a Python program to accept the user's first and last name and then getting them
printed in the the reverse order with a space between first name and last name.

In [9]:
name="prema latha"
print(name)
rev=""
for i in name:
    rev=i+rev
print(rev)

prema latha
ahtal amerp

###. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [11]:
d=12
r=d/2
v=4/3*3.14*r**3
print(v)

904.3199999999999

#                    Assignment --- 2

## Create the below pattern using for loops
       *
       * *
       * * * 
       * * * *
       * * * * *
       * * * *
       * * *
       * *
       *

In [1]:
n=len(range(6))
for i in range(6):
    print(i*" *")
for j in range(6):
    print(n*" *")
    n=n-1

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

## Write a phython program to reverse a word after accepting the input from the user

   Sample Output:
   
   Input word : ineuron
   
   Output : norueni

In [2]:
word=input("Enter the word: ")
print("Input Word: ",word)
output=""
for i in word:
    output=i+output
print("Output: ",output)

Enter the word: ineuron
Input Word:  ineuron
Output:  norueni

#         Assignment ---- 3

##### Write a phython program to implement your own mtfilter() function which works exactly like phython's build-in function filter().

In [53]:

def myfilter(fun_name,lst):
    for i in lst:
        if fun_name(i)==True:
            yield i
            
# check the given number is even or not
def even(num):
    if num%2==0:
        return True
    else:
        return False

# check the given number is fibnacci or not
def fibb(num):
    a=1
    b=1
    lst=[]
    for i in range(num):
        lst.append(a)
        a,b=b,a+b
       
    for i in lst:
        if i==num:
            return True

In [56]:
lst=[1,2,3,4,5,6,7,8,9,10,11,13]
list(myfilter(even,lst))

[2, 4, 6, 8, 10]

In [57]:
lst=[1,2,3,4,5,6,7,8,9,10,11,13]
list(myfilter(fibb,lst))

[1, 5, 8, 13]

### Write a phython program to implement your own myreduce() function which works exactly like phython's built-in finction filter()

In [93]:
from functools import reduce
lst =[1,2,3,4,5,6]
reduce(lambda a,b:a+b,lst)

21

In [94]:
def myreduce(fun_name,lst):
    i=0
    for j in lst:
        i=fun_name(i,j)
    return i    
def sum(a,b):
    return a+b

In [95]:
lst=[1,2,3,4,5,6,7]
myreduce(sum,lst)

28

### Implement list comprehensions to produce the following lists.

### ['x','xx','xxx','xxxx','y','yy','yyy','yyyy','z','zz','zzz','zzzz']

### ['x','y','z','xx','yy','zz','xxx','yyy','zzz','xxxx','yyyy','zzzz']

### [[2],[3],[4],[3],[4],[5],[4],[5],[6]] [[2,3,4,5],[3,4,5,6],[4,5,6,7],[5,6,7,8]]

### [(1,1),(2,1),(3,1),(1,2),(2,2),(3,2),(1,3),(2,3),(3,3)]

In [121]:
ls=['x','y','z']
lst=[1,2,3,4]
lst1=[i*j for i in ls for j in lst]

In [122]:
lst1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [125]:
ls2=[i*j for i in lst for j in ls]

In [126]:
ls2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [165]:
ls=[1,2,3]
l=[[i+j] for i in ls for j in ls]
l

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [166]:
ls1=[2,3,4,5]
l1=[[i+j for i in range(len(ls1))] for j in ls1]
l1

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [172]:
s=(1,2,3)
lst=[(i,j) for i in s for j in s]
lst

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

## Assignment --- 4